* {
    margin-left: 10px;
}
 

body {
    background-image: url(https://image.freepik.com/vetores-gratis/mar-debaixo-d-agua-fundo-do-oceano-com-algas-cena-marinha_53562-8210.jpg);
    background-position: cover;

   
}

h2,p {
    color: rgb(0, 0, 0);
    font-family:cursive, serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    border: 1px;
}

h1 {
    
    padding: 20px 20px;
    margin-bottom: 50px;
    font-family:cursive;
    font-size: 20px;
    font-weight: 300;

}




li:hover {
    background-color: white;
    padding: auto;
    background-size: 1px;
    margin: 5px;
    display: inline;
    border-bottom: 1px solid
    
}

.camarao-image {
    border : 1px solid rgb(231, 5, 5); 
    background-color: rgba(10, 10, 10, 0.651); 
    padding: 5px 5px;
    width: 350px; 
    height: 200px
   
}

.navbar {
    background-color: rgb(10, 10, 10);
    color: white;
    margin: top 1px;
    padding: 15px 10px;
    border: 1px solid
    
    
}

.navbar a{
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 120px;

}

.about {
    text-align: justify;
    border: solid;
}

table, th, td {
    border: 5px solid black;
    width: 40%;
    color: rgb(0, 0, 0);
    background-color: rgb(8, 25, 177);
  }